/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
.editorconfig
.env
.env.example
.env.backup
.gitignore
.gitattributes
.phpunit.result.cache
docker-compose.yml
LICENCE
README.md
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
